body {
  background-image: url('/assets/img/egg_shell.png');
}

header {
  .logo {
    margin-top: 5%;
    width: 150px;
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  body {
    background-image: url('/assets/img/egg_shell_@2X.png') / 256px 256px;
  }
}
