* {
  outline: none !important;
  box-shadow: none !important;
}

body {
  background-image: url('/assets/img/egg_shell.png');
  padding-bottom: calc(50px + 3%);
}

header {
  padding-top: 3%;
  padding-bottom: 10px;

  .logo {
    width: 150px;
  }
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  background-color: $diables-secondary;
  color: $diables-primary;
}

h1 {
  color: $diables-primary;
}

.smaller {
  font-size: 50%;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
  body {
    background-image: url('/assets/img/egg_shell_@2X.png') / 256px 256px;
  }
}
