.checkbox-svg-form {
  text-align: center;

  & > div {
    input[type="checkbox"],
    input[type="radio"] {
      display: none;
    }

    label {
      cursor: pointer;

      img {
        width: 60%;
      }

      input[type="checkbox"] + img,
      input[type="radio"] + img {
        opacity: .5;
        filter: grayscale(60%);
      }

      input[type="checkbox"] + img + p,
      input[type="radio"] + img + p {
        opacity: .8;
      }

      input[type="checkbox"]:checked + img,
      input[type="radio"]:checked + img,
      input[type="checkbox"]:checked + img + p,
      input[type="radio"]:checked + img + p {
        opacity: 1;
        filter: grayscale(0);
      }
    }
  }
}

.group-select {
  background-color: rgba(255, 255, 255, 1);
}
