@import url('https://fonts.googleapis.com/css?family=Poiret+One');

$diables-primary: #BF141D;
$diables-secondary: #000;
$font-family-base: 'Poiret One';

@import '../../node_modules/bootstrap/scss/bootstrap';
@import 'base';
@import 'loading';
