<app-loading></app-loading>

<header>
  <div class="container-fluid text-center">
    <img class="logo" src="/assets/img/logo_r.png">
    <h2>{{ title }} {{ year }}</h2>
  </div>
</header>

<app-auth-form *ngIf="!isLoggedIn() && isSignIn()" (loginForm)="showSignUp()" (loadUsers)="loadUsers()"></app-auth-form>
<app-burger-form *ngIf="!isLoggedIn() && !isSignIn()" [group]="group" (loginForm)="showSignIn()"></app-burger-form>
<app-users-list *ngIf="isLoggedIn()" [users]="users"></app-users-list>

<footer>
  <div class="container">
    <img class="footer" src="/assets/img/logo_r.png"> {{ name }} © <img class="footer" src="/assets/img/diablillu.png"> {{ org }} {{ year }}
  </div>
</footer>
