<div class="container">
  <table class="table table-hover">
    <thead class="thead-inverse">
      <tr>
        <th class="text-center">Nom</th>
        <th class="text-center">Grup</th>
        <th class="text-center">Gluten</th>
        <th class="text-center">Veggy</th>
        <th class="text-center">Ingredients</th>
        <th class="text-center">Beure</th>
        <th class="text-center">Comentaris</th>
        <th class="text-center">Data</th>
        <th class="text-center" *ngIf="isLoggedIn">Opcions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th class="align-middle" scope="row">{{ user.name }}</th>
        <td class="align-middle">{{ user.group }}</td>
        <td class="align-middle">{{ user.gluten ? 'Si' : 'No' }}</td>
        <td class="align-middle">{{ user.eatType === 'all' ? 'No' : 'Si' }}</td>
        <td class="align-middle">
          <ul *ngIf="user.burgerIngredients.length > 0">
            <li *ngFor="let ingredient of user.burgerIngredients">{{ ingredient }}</li>
          </ul>
        </td>
        <td class="align-middle">{{ user.drink }}</td>
        <td class="align-middle">{{ user.comments }}</td>
        <td class="align-middle">{{ user.createdAt }}</td>
        <td class="align-middle" *ngIf="isLoggedIn">
          <a (click)="changeUser(user._id)">Editar</a>,
          <a (click)="deleteUser(user._id)">Esborrar</a>
        </td>
      </tr>
    </tbody>
  </table>
  <button *ngIf="isLoggedIn" type="button" class="btn btn-primary btn-lg btn-block" (click)="exportUsers()">Exportar CSV</button>
</div>
